<div class="container">

    <div class="section">
        <h3>Choose View</h3>
        <ul class="view-list">
            <li *ngFor="let bullEyeType of bullEyeTypes | enumToArray" (click)="selectSurfaceStream$.next(bullEyeType)">
                {{ bullEyeType }}
            </li>
        </ul>
        <ul class="view-list">
            <li *ngFor="let resizeMode of resizeModes | enumToArray" (click)="selectResizeModeStream$.next(resizeMode)">
                {{ resizeMode }}
            </li>
        </ul>
    </div>

    <div class="section">
        <h3>Stress Echo</h3>
        <drawable-surface #drawableSurface [width]="500" [height]="500" [picture]="selectedBullEye" [resizeMode]="selectedResizeMode" (shapeMouseWheel)="shapeMouseWheelStream$.next($event)"></drawable-surface>
    </div>

    <div class="section">
        <h3>Legend</h3>
        <legend (select)="selectScoreColorPairStream$.next($event)"></legend>
    </div>

    <div class="section">
        <h3>Events</h3>
        <event-list [events]="events" (clear)="clearStream$.next()"></event-list>
    </div>

</div>