<div class="container">

    <div class="section">
        <h3>Choose View</h3>
        <ul class="view-list">
            <li *ngFor="let bullEyeType of bullEyeTypes | enumToArray" (click)="selectStream$.next(bullEyeType)">
                {{ bullEyeType }}
            </li>
        </ul>
    </div>

    <div class="section">
        <h3>Stress Echo</h3>
        <drawable-surface [picture]="selectedBullEye" (segmentMouseWheel)="segmentMouseWheelStream$.next($event)" (segmentMouseClick)="segmentMouseClickStream$.next($event)"></drawable-surface>
    </div>

    <div class="section">
        <h3>Legend</h3>
        <legend></legend>
    </div>

    <div class="section">
        <h3>Events</h3>
        <event-list [events]="events" (clear)="clearStream$.next()"></event-list>
    </div>

</div>